
!.vscode/extensions.json
.astro/
.dev.vars
.dev.vars.*
.DS_Store
.env
.env.*.local
.env.local
.env.production
.idea/
.nimbus/
.pnpm-store/
.vscode/*
.wrangler/
dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
worker-configuration.d.ts
yarn-debug.log*
yarn-error.log*
